setuptools>=59.5.0,<=74.1.3
scipy>=1.5.4,<=1.15.3
numpy>=1.19.0,<=2.3.0
opencv-python>=4.1.0,<=4.11.0.86
pyyaml>=5.1.0,<=6.0.2
pycocotools>=2.0.0,<=2.0.10
tqdm>=4.60.0,<=4.67.1
pillow>=8.0.0,<=10.4.0
tensorboard>=1.14.0,<=2.20.0
matplotlib>=3.3.4,<=3.10.3

# if cuda 12.8 is supported, install torch 2.7.1 with torchvision using following command.
# pip install torch==2.7.1 torchvision==0.22.1 --index-url https://download.pytorch.org/whl/cu128


# torch >= 1.10.0,<= 2.7.1 # Select the latest version based on your CUDA version, install manually
#torchvision # Slect the right version based on your torch version.